# Binaries are installed in these directories.
INSTALL_BIN_DIR = $(HOME)/bin
INSTALL_LIB_DIR = $(HOME)/lib

# To disable cryptography dependencies, comment out this definition of
# USE_CRYPTO.  Do not set it to a false value; we test for the
# presence of a definition, not the value itself.
USE_CRYPTO = t

# If USE_CRYPTO is set but OPENSSL is installed in a non-standard
# place, you must specify its location here.
OPENSSL_INCLUDE_DIR =
OPENSSL_LIBRARY_DIR =

CC = gcc
LD = gcc
CFLAGS = -g -Wall
